* {
  font-family: Helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size:32px;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size:23px;
  font-weight: bold;
  text-align: center;
}
p {
  font-size:14px;
  text-align: center;
}
.pagehead {
  background-image: url("./images/the-flatiron-building.png");
  color: white;
  text-align: center;
}
.menu {
  font-size: 18px;
  color: white;
  text-decoration-line: underline;
}
.banner {
  color: white;
  background-image: url("./images/the-flatiron-building.png");
  text-align: center;
}
.footer {
  color: white;
  background-color: dimgray;
}
.pfoot {
  text-align:left;
  font-size: 11px;
  display:inline-block;
}
.hfoot {
  text-align: left;
  font-size: 23px;
  font-weight: normal;
  text-decoration-line: underline;
  display:inline-block;
}
